body{
    background-color: rgb(105, 62, 62);

}
.rndimg{
    margin-top: 7px;
    width: 20%;
}
body {
    font-family: 'Times-new-roman', sans-serif;
    background-color: rgb(85, 42, 42);
}

.info{

    background-color: white;
    border: solid 1px black;

}

.wrapper{
    
    background-color: #8b7865;
    width: 40%;
    box-sizing: border-box;
    border: solid 1px black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: inline-block;
    text-align: center;
    
}

.btn{
    width: 30% !important;
    height: 50px !important;
    margin: 5px !important;
    border: 1px solid black !important;
}


.kitolt{

    
    justify-content: left;
    padding-top: 30px;
    
}

